<div class="vstack gap-5">
    <app-hero-publishing-house></app-hero-publishing-house>
    <app-aboutus-publishing-house></app-aboutus-publishing-house>
    <app-services-publishing-house></app-services-publishing-house>
    <app-departments-publishing-house></app-departments-publishing-house>
    <div class="mainbgcolor d-flex justify-content-center align-items-center py-2 m-0">
        <p class="text-white text-center fs-4 lead p-0">يساهم الوكيل الأدبي في حماية الحقوق الفكرية و التفاوض علي العقود بشتي انواعها</p>
    </div>

    <app-how-to-connect-publishing-house></app-how-to-connect-publishing-house>
    <app-publish-main-form></app-publish-main-form>
</div>