<section class="position-relative">
    <div class="hero-section px-0 py-5 m-0 w-100">
        <div class="py-5">
            <div class="p-5 w-75 text-end">
                <div class="w-50 py-5">
                    <h1 class="maintextcolor"><span class="border-5 border-bottom mainbordercolor ">الوكيل</span> الأدبي</h1>
                    <span class="fs-1">ومهامه</span>
                    <p class="py-3 fs-4">تشمل مهام الوكيل الأدبي الترويج لأعمال الكاتب، البحث عن فرص نشر</p>
                </div>
     
            </div>
        </div>
    </div>

    <div class="position-absolute bottom-0 start-50 end-50">
        <span class="maintextcolor fs-3"><i class="fa-solid fa-chevron-down"></i></span>
    </div>
</section>