.image-container {
  overflow: hidden;
}

.image-container img {
  transition: transform 0.3s ease;
  width: 100%;
  height: auto;
}

.image-container img:hover {
  transform: scale(1.1);
}

.categories-section .card {
  border-radius: 12px;
  transition: box-shadow 0.75s ease-in-out;
}

.categories-section .card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
