<section class="position-relative">
    <div class="hero-section m-0 w-100" [style.background-image]="'url(' + bgImg + ')'">
        <div class="w-100 h-100 bg-dark px-0 py-5 bg-opacity-10">
            <div class="py-5">
                <div class="container">
                    <div class="row row-cols-lg-2 row-cols-sm-1 row-cols-md-1">
                    <div class="">
                        <img [src]="this.publishingHouse.logo" alt="" class="w-75 ">
                    </div>
                    <!--  -->
                    <div>
                        <div class="w-100 h-100 d-flex justify-content-center align-items-end text-md-end flex-column">
                    <span class="maintextcolor fs-1"><i class="fa-solid fa-book-open-reader"></i></span>
                    <h2 class="fs-5 bg-body-secondary p-2 rounded-3 ">The Author’s Voice</h2>
                    <h1 class="display-2 lead">{{this.publishingHouse.name}}</h1>
                    <p class="lead py-2">
                        {{this.publishingHouse.subtitle}}
                    </p>
                    <button class="btn mainbgcolor text-white">اقرأ المزيد</button>
                </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="position-absolute bottom-0 start-50 end-50">
        <span class="maintextcolor fs-3"><i class="fa-solid fa-book-open-reader"></i></span>
    </div>
</section>