<section class="py-5 my-5">
    <div class="container">
        <div class="row row-cols-md-1 row-cols-md-2">
            <!-- Publisher Registration Section -->
            <div class="overflow-hidden rounded-3">
                <div class="c1 p-0 rounded-3 overflow-hidden" [style.background-image]="'url(' + c1 + ')'">
                    <div class="w-100 text-center d-flex justify-content-center align-items-center flex-column bg-black bg-opacity-25 p-5">
                        <div class="p-5">
                            <h5 class="text-white">كن جزءًا من منصتنا، ووسّع نطاق وصول منشوراتك</h5>
                            <h1 class="text-white fw-bold">لتسجيل دار النشر</h1>
                            <!-- Link to Publisher Registration -->
                            <a [routerLink]="['/publish-signup']" class="btn btn-light mt-3">تسجيل دار النشر</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Author Registration Section -->
            <div class="overflow-hidden rounded-3">
                <div class="c2 p-0 rounded-3 overflow-hidden" [style.background-image]="'url(' + c2 + ')'">
                    <div class="w-100 text-center d-flex justify-content-center align-items-center flex-column bg-black bg-opacity-25 p-5">
                        <div class="p-5">
                            <h5 class="text-white">كل قصة تستحق أن تُروى... دعنا نروي قصتك</h5>
                            <h1 class="text-white fw-bold">لتسجيل الكتاب</h1>
                            <!-- Link to Author Registration -->
                            <a [routerLink]="['/author‑signup']" class="btn btn-light mt-3">تسجيل الكتاب</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
