<section class="auther-about-me py-5 shadow-sm">
    <div class="container">
        <div class="row row-cols-md-2 row-cols-sm-1 g-4">
            <div>
                <div class="image-wrapper w-75 text-center p-2 rounded-3 m-auto shadow-lg">
                    <img [src]="b2" class="w-100" alt="">
                </div>                
            </div>
            <!--  -->
            <div>
                <div
                    class="d-flex h-100 w-100 justify-content-center text-end vstack gap-4 align-items-end flex-column">
                    <div><span class="border-3 border-bottom mainbordercolor maintextcolor lead fw-medium fs-2">من
                            أنا</span></div>
                    <div>
                        <p class="lead">وُلدتُ ونشأتُ في مدينة تنبض بالثقافة والفن، حيث وجدتُ في القراءة والكتابة شغفي الأول ومتنفسي
                            الحقيقي. منذ سنوات الطفولة، بدأت أكتب القصص القصيرة وأخط أولى محاولاتي الأدبية، باحثًا
                            دائمًا عن طرق أعبّر بها عن أفكاري ومشاعري تجاه العالم.</p>
                        <p class="lead">
                            بفضل المثابرة والشغف، تمكنت من صقل موهبتي من خلال دراسة الأدب والمشاركة في ورش عمل أدبية
                            محلية ودولية، مما ساعدني على تطوير أسلوبي الخاص في السرد والكتابة
                        </p>
                    </div>
                    <ul class="list-unstyled lead vstack gap-2">
                        <li><span class="maintextcolor fw-medium">الخبرة:</span> أكثر من 10 سنوات في مجال الكتابة الأدبية والصحفية</li>
                        <li><span class="maintextcolor fw-medium">التخصص الأدبي:</span> متخصص في كتابة الروايات, القصص القصير والمقالات الفكرية</li>
                        <li><span class="maintextcolor fw-medium">المهارات</span>: مهارات البحث الأدبي, التحرير,الترجمة, الترجمة, التواصل مع جمهور القراء</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>