<section class="auther-about-me py-5 shadow-sm">
  <div class="container">
    <div class="row row-cols-md-2 row-cols-sm-1 g-4">
      <div>
        <div class="image-wrapper w-75 text-center p-2 rounded-3 m-auto shadow-lg">
          <img [src]="image2Url" class="w-100" alt="">
        </div>                
      </div>
      <!--  -->
      <div>
        <div class="d-flex h-100 w-100 justify-content-center text-end vstack gap-4 align-items-end flex-column">
          <div>
            <span class="border-3 border-bottom mainbordercolor maintextcolor lead fw-medium fs-2">
              من أنا
            </span>
          </div>
          <div>
            <p class="lead">
              {{ authorData?.description1 }}
            </p>
            <p class="lead">
              {{ authorData?.description2 }}
            </p>
          </div>
          <ul class="list-unstyled lead vstack gap-2">
            <li>
              <span class="maintextcolor fw-medium">الخبرة:</span>
              {{ authorData?.experience }}
            </li>
            <li>
              <span class="maintextcolor fw-medium">التخصص الأدبي:</span>
              {{ authorData?.specialization }}
            </li>
            <li>
              <span class="maintextcolor fw-medium">المهارات:</span>
              {{ authorData?.skills }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
