<section class="py-5 bg-body-tertiary shadow">
    <div class="container">
        <div class="row row-cols-sm-1 row-cols-md-1 row-cols-lg-2">
            <div>
                <img [src]="this.publishingHouse.aboutUsLogo" alt="" class="w-75 ">
            </div>
            <!--  -->
            <div>
                <div class="w-100 h-100 d-flex align-items-end justify-content-center flex-column">
                    <h3 class="text-end lead fw-medium fs-2 py-2 maintextcolor mainbordercolor border-3 border-bottom ">
                        من نحن</h3>
                    <p class="text-end lead ">{{ this.publishingHouse.aboutUs}}</p>
<h3 class="text-end lead fw-medium fs-2 py-2 maintextcolor mainbordercolor border-3 border-bottom ">
                        الأهداف </h3>
                    <div> 
                        <ul class="list-unstyled">
  <li *ngFor="let goal of goals" class="text-end lead fw-medium">
    {{ goal.text }}
  </li>
</ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>